header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;

  .header-title img {
    width: 40px;
    animation: logo-rotate infinite 10s linear;
  }

  .nav-item {
    a {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
    }
  }
}

@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
