header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0;
  width: 1024px;
  margin: 0 auto;

  .header-title img {
    width: 40px;
    animation: logo-rotate infinite 10s linear;
  }

  .nav-item {
    a {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 0.2rem;

      &:hover {
        color: rgb(207, 61, 61);
      }
    }
  }
}

@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
