.about-game-wrapper {
  height: 100%;
  width: 60%;

  .hot-key-row {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
  }
  span {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
  }

  .about-game-gifs {
    width: 40rem;
    margin: 0;
  }

  .hot-key {
    display: flex;
    justify-content: center;
  }

  .hot-key-description {
    display: flex;
    align-items: center;
  }

  .control-btn {
    border: 2px solid red;
    padding: 0.5rem;
    text-align: center;
  }

  .enter {
    padding: 0.2rem 1rem;
  }
}
