.menuItem {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    a {
        text-decoration: none;
        color: rgb(16, 39, 241);
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        background: rgb(245, 229, 8);
        border-radius: 2rem;
        padding: .5rem;
        border:3px solid rgb(245, 161, 7);
        transition: 0.3s linear;

        &:hover {
            background: rgb(245, 161, 7);
            border:3px solid rgb(245, 229, 8);
        }
    }
}