#root {
  display: flex;
  align-items: center;
  height: 99vh;
  background: url(../public/assets/img/bg-fon.jpg) #555555cb;
  background-size: cover;
  background-blend-mode: multiply;

  .registration {
    width: 100%;
    display: flex;
    justify-content: center;

    form {
      width: 40%;
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 143, 187, 1);
      border-radius: 1rem;
      h1 {
        margin-bottom: 2rem;
      }

      .reg-inp-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 70%;

        label {
          font-size: 2rem;
          color: #fff;
          margin-bottom: 0.5rem;
        }

        input {
          height: 3rem;
          outline: none;
          font-size: 1.5rem;
        }
      }

      a {
        font-size: 1.5rem;
        color: #fff;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      .btn-entrance {
        width: 70%;
        margin-bottom: 1rem;
        button {
          padding: 0.5rem 1rem;
          margin-right: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          outline: none;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .login {
          background: rgb(42, 247, 1);
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }

        .signup {
          background: rgb(252, 0, 231);
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  height: 99vh;
  width: 100%;
  margin: 0 auto;
}

.app-wrapper-content {
  display: flex;
  justify-content: center;
}
